{% extends "base.html" -%}
{% block before_meta %}
  {% if config.extra.meilisearch_url %}
    {%- if config.mode=="build" -%}
    {%- set_global meilicss = load_data(path="static/site/styles/docs-searchbar.min.css") -%}
    {%- else -%}
      <link rel="preload" href="{{ get_url(path="site/styles/docs-searchbar.min.css", trailing_slash=false,cachebust=true) | safe }}" as="style" onload="this.onload=null;this.rel='stylesheet'">
      <noscript>
        <link rel="stylesheet" href="{{ get_url(path="site/styles/docs-searchbar.min.css", trailing_slash=false,cachebust=true) | safe }}">
      </noscript>
    {%- endif -%}
  {% endif %}
{% endblock before_meta %}
{% block post_meta %}
  {%- if config.mode=="build" -%}
    <style>{{meilicss | safe}}</style>
  {%- endif -%}
{% endblock post_meta %}

{% block sidebar_top %}{% endblock sidebar_top %}
{% block header %}
  {% set all_section_pages = get_section(path="_index"~file_lang_path~".md") -%}
  {% set all_pages_sort_by_date = all_section_pages.pages | sort(attribute="updated") | reverse -%}
  {% set total_word_count = 0 -%}
  {% for page_item in all_section_pages.pages -%}
    {% set_global total_word_count = total_word_count+page_item.word_count -%}
  {% endfor -%}
      <div class="header">
        <div class="header-inner">
        {% if config.default_language != lang %}
          <p>I'm feng, I've written
            <a href="{{ get_url(path="@/pages/archive.md",lang=lang) }}">
              {{ all_section_pages.pages | length }}</a>
            articles so far, about {{ total_word_count }} words, last updated on
            <time datetime="{{ all_pages_sort_by_date[0].updated }}">{{ all_pages_sort_by_date[0].updated }}</time>.
              Here I share my thoughts, observations and imaginations. I am studying Japanese too ,so there are also
            <a href="/">many posts/notes written by Japanese</a>,
            <a href="{{ get_url(path="@/pages/now.md") }}">click to find out what I'm doing now</a>
          </p>
        {% else %}
          <p>僕は<a href="/about/"> 二の前 </a>, これまでに <a href="{{ get_url(path="@/pages/archive.md",lang=lang) }}">
              {{ all_section_pages.pages | length }}</a>  件の記事が書かれています, {{ total_word_count }} 単語くらい，最終更新:<time datetime="{{ all_pages_sort_by_date[0].updated }}">{{ all_pages_sort_by_date[0].updated }}</time>。
              ここでは私の考え、観察、想像を共有します。<a href="/en/">こちらも英語版です</a> ,
             <a href="{{ get_url(path="@/pages/now.md") }}">クリック</a> 私が今何をしているのか理解して
          </p>

        {% endif %}
      </div>
{% endblock%}
{% block main -%}
  {% set all_categories = get_taxonomy(kind="categories",lang=lang) -%}
  {% set_global note_pages = [] -%}
  {% set_global all_blog_pages = get_section(path="blog/_index"~file_lang_path~".md") -%}
  {% for cat in all_categories.items -%}
    {% if cat.name == "Notes" -%}
      {% set_global note_pages = cat.pages | sort(attribute="updated") | reverse -%}
    {% endif -%}
  {% endfor -%}
  <div class="index-page">

      <details open class="py">
        <summary class="by ">{{ trans(key="label_new_posts_list_title",lang=lang) | markdown(inline=true) | safe }}:
      </summary>
      <div class="articles h-feed hfeed">
        {% for page in all_blog_pages.pages | slice(start=0,end=10) %}
          {{ macro::post_max(page=page,index=loop.index) }}
        {% endfor %}
      </div>
      </details>
      {%if all_blog_pages.pages | slice(start=10) | length > 0%}
        <details class="py">
          <summary class="by text">{{ trans(key="label_all_posts",lang=lang) | markdown(inline=true) | safe }}</summary>
          <ul>
            {% for page in all_blog_pages.pages | slice(start=10) %}
            <li>{{ macro::post_min(page=page) }}</li>
            {% endfor %}
          </ul>
        </details>
        {% endif %}

      <details open class="py">
      <summary class="by">{{ trans(key="label_thoughts_title",lang=lang) | markdown(inline=true) | safe }}<a href="#thoughts" id="thoughts" class="zola-anchor">🔗</a>
      </summary>
      {% set thoughts_page = get_page(path="thoughts" ~ file_lang_path ~ ".md",lang=lang) %}
      <div class="articles">
        {{ thoughts_page.summary | safe }}
        <p class="no-border">{{ trans(key="label_all_thoughts",lang=lang) | markdown(inline=true) | safe }}</p>
      </div>
      </details>

    </div>
  {% endblock main -%}
  {% block before_body_end %}
  {% endblock before_body_end %}
